@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import "BreakPoints";

body{
  .Container {


    .breadcrumbs {
      margin-left: 7%;

      .breadcrumbsLink {
        text-decoration: none;
        color: #4B4B4B;

      }

      .breadcrumbsName {
        color: #111111;
      }
    }

    .Container-game {
      display: block;
      background: #00000027 0% 0% no-repeat padding-box;
      box-shadow: inset 0px 0px 50px #00000005;
      border-radius: 30px;
      opacity: 1;
      backdrop-filter: blur(30px);
      -webkit-backdrop-filter: blur(30px);
      padding: 3%;
      margin: 2% 6.5% 2% 6.5%;
      .Container-game-name::before{
        height: 100%;
        content: '';
        display: inline-grid;
        vertical-align: middle;

      }
      .Container-game-name {
        height: 7vh;
        width: 72%;

        display: inline-block;
        background: #a8dadc 0% 0% no-repeat padding-box;
        box-shadow: inset 0px 3px 20px #FFFFFF4D, 0px 3px 30px #0000004D;
        border: 1px solid #FFFFFF;
        border-radius: 20px;
        opacity: 1;
        backdrop-filter: blur(18px);
        -webkit-backdrop-filter: blur(18px);



        .container-game-name-ver{
          display: inline-grid;
          margin-left: 3%;


          .game-name {

            text-align: left;
            font: normal normal bold 26px/0px Montserrat;
            letter-spacing: 0px;
            color: #000000;
            opacity: 1;
            margin-bottom: 12px;
          }
          .game-little-description {
            text-align: left;
            font: normal normal medium 14px/10px Montserrat;
            letter-spacing: 0px;
            color: #000000;
            opacity: 1;
          }
        }

      }
      .Container-game-params::before{
        content: '';
        height: 100%;
        display: inline-block;
        vertical-align: middle;

      }
      .Container-game-params {

        margin-left: 2.5%;
        width: 25%;
        display: inline-block;

        background: #a8dadc 0% 0% no-repeat padding-box;
        box-shadow: inset 0px 3px 20px #FFFFFF4D, 0px 3px 30px #0000004D;
        border: 1px solid #FFFFFF;
        border-radius: 20px;
        opacity: 1;
        backdrop-filter: blur(18px);
        -webkit-backdrop-filter: blur(18px);
        height: 7vh;
        .Container-con-game-params::before{
          height: 100%;
          content: '';
          display: inline-block;
          vertical-align: center;
        }
        .Container-con-game-params{
          width: 100%;
          margin-left: auto;
          margin-right: auto;
          display: inline-flex;
          align-items: center;
          flex-flow: row;
          justify-content: center;
          align-content: center;
          justify-self: center;

        }

        .game-params-icon{
          margin-left: 5%;
          display: inline-block;



        }
        .game-age-rating {
          margin-left: 7%;
          display: inline-block;
          text-align: left;
          font: normal normal 600 28px/10px Montserrat;
          letter-spacing: 0px;
          color: #000000;
          opacity: 1;

        }

        .game-player-number {
          width: 15%;
          margin-left: 3%;
          display: inline-block;
          text-align: left;
          font: normal normal medium 14px/0px Montserrat;
          letter-spacing: 0px;
          color: #000000;
          opacity: 1;
          position: relative;
          align-content: center;

        }
        .game-time{
          width: 60%;
          margin-left: 3%;
          display: inline-block;
          text-align: left;
          font: normal normal medium 14px/0px Montserrat;
          letter-spacing: 0px;
          color: #000000;
          opacity: 1;
          position: relative;
          align-content: center;
        }

      }

      .Container-game-descriptions {
        display: inline-block;
        width: 70%;
        margin-top: 5%;


        background: #a8dadc 0% 0% no-repeat padding-box;
        box-shadow: inset 0px 3px 20px #FFFFFF4D, 0px 3px 30px #0000004D;
        border: 1px solid #FFFFFF;
        border-radius: 20px;
        opacity: 1;
        backdrop-filter: blur(18px);
        -webkit-backdrop-filter: blur(18px);

        .game-img-container {

        }

        .game-des {
          text-align: left;
          font: normal normal 600 24px/10px Montserrat;
          letter-spacing: 0px;
          color: #4B4B4B;
          opacity: 1;
        }

        .game-description {
          text-align: left;
          font: normal normal medium 12px/20px Montserrat;
          letter-spacing: 0px;
          color: #000000;
          opacity: 1;
        }


      }

      .Container-game-price {
        display: inline-block;
        width: 25%;
        margin-left: 4.71%;

        background: #a8dadc 0% 0% no-repeat padding-box;
        box-shadow: inset 0px 3px 20px #FFFFFF4D, 0px 3px 30px #0000004D;
        border: 1px solid #FFFFFF;
        border-radius: 20px;
        opacity: 1;
        backdrop-filter: blur(18px);
        -webkit-backdrop-filter: blur(18px);



        .game-id {
          text-align: left;
          font: normal normal normal 8px/10px Montserrat;
          letter-spacing: 0px;
          color: #4B4B4B;
          opacity: 1;
        }

        .game-price-container {


          .game-price {
            text-align: left;
            font: normal normal 600 32px/10px Montserrat;
            letter-spacing: 0px;
            color: #000000;
            opacity: 1;
          }

          .game-rub {
            text-align: left;
            font: normal normal 600 16px/10px Montserrat;
            letter-spacing: 0px;
            color: #4B4B4B;
            opacity: 1;
          }

        }

        .game-dropbus-button {
          @include media(">=LGdesktop", ">desktop") {
            font-size: 25px;
          }
          @include media('<LGdesktop', '>=desktop') {
            font-size: 20px;
          }
          @include media('<desktop', '>=tablet') {
            font-size: 16px;
          }
          background: transparent linear-gradient(122deg, rgba(165, 220, 215, 0.60) 0%, rgba(15, 66, 120, 0.6) 150%) 0% 0% no-repeat padding-box;
          box-shadow: inset 0px 0px 20px #FFFFFF29;
          border: 1px solid #FFFFFF80;
          border-radius: 27px;
          margin-top: 7vh;
          width: 24vh;
          height: 6vh;
          text-align: center;
          display: table-cell;
          vertical-align: middle;
          font: normal normal 600 25px Montserrat;
          letter-spacing: 0.25vw;
          color: #FFFFFF;
          opacity: 1;
          backdrop-filter: blur(18px);
          -webkit-backdrop-filter: blur(18px);
          text-transform: uppercase;
          transition: all 0.5s ease-in-out;

        }

        .game-dropbus-button:hover {
          backdrop-filter: blur(30px) brightness(1.8);
          -webkit-backdrop-filter: blur(30px) brightness(1.8);
          transform: scale(1.05);
          cursor: pointer;
        }

        .game-delivery {
          text-align: left;
          font: normal normal medium 10px/25px Montserrat;
          letter-spacing: 0px;
          color: #4B4B4B;
          opacity: 1;
        }

      }

      .Container-game-rule {
        display: inline-block;
        width: 25%;
        margin-right: 0%;

        background: #a8dadc 0% 0% no-repeat padding-box;
        box-shadow: inset 0px 3px 20px #FFFFFF4D, 0px 3px 30px #0000004D;
        border: 1px solid #FFFFFF;
        border-radius: 20px;
        opacity: 1;
        backdrop-filter: blur(18px);
        -webkit-backdrop-filter: blur(18px);
        width: 25%;


      }

    }
  }
}