@import "./BreakPoints";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

::-webkit-scrollbar{
  width: 5px;
}
::-webkit-scrollbar-track {
  background: #4B4B4B;

}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #8dc8c8;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}
.basket-cot{

  width: 100%;
  height: 50%;
  overflow-y: scroll;
  overflow-x: hidden;
  padding-right: 2%;
}
.search-nav{
  pointer-events: all;
  z-index: 5;

}
.searchOpps{
  text-align: center;
  color: #fff;
  margin: 25px;
  font:normal normal bold 16px Montserrat;
}
.no_decor{
  text-decoration: none;
  color: white;
}
.Search-Icon{
  @include media(">LGdesktop", ">desktop"){
    transform: scale(0.9);
    margin-top: -3.6vh;
  }
  @include media('<=LGdesktop','>desktop'){
    transform: scale(0.7);
    margin-top: -4.4vh;

  }
  @include media('<=desktop', '>=tablet'){
    transform: scale(0.6);
    margin-top: -4vh;
  }
  position: absolute;
  margin-top: -3.5vh;;
  margin-left: 60.5vw;
  z-index: 10;
}
body{
  .profile-data{
    display: inline-block;
    width: fit-content;
    color: #ffffff;
    margin-left: 5%;
  }

  .profile-data-con{
    display: flex;
    align-items: center;
  }

  .email{
    @include media(">LGdesktop", ">desktop"){
      font-size: 14px;
    }
    @include media('<=LGdesktop','>=desktop'){
      font-size: 12px;

    }
    @include media('<=desktop', '>=tablet'){
      font-size: 10px;
    }
    width: fit-content;
    text-align: left;
    font: 16px/18px Montserrat;
    font-weight: 500;
    letter-spacing: 0.3px;
  }
  .profile-settings{
    @include media(">LGdesktop", ">desktop"){

    }
    @include media('<=LGdesktop','>desktop'){
      font: 10px/16px Montserrat;
    }
    @include media('<=desktop', '>=tablet'){
      font: 10px/16px Montserrat;
    }
    width: fit-content;
    font: 12px/18px Montserrat;
    font-weight: 400;
    letter-spacing: 0.3px;
    margin-top: 2%;
  }
  .exit{
    color:#FFFFFF;
    margin-left: 10%;


  }
  .dropdown-profile::before{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(37px);
    -webkit-backdrop-filter: blur(37px);
    content: '';
    z-index: -5;
  }
  .dropdown-profile{

    transition: all 200ms ease-in-out;
    background: #333333a5 0% 0% no-repeat padding-box;
    display: inline-block;
    box-shadow: inset 0px 0px 35px #c8c8c810, 0px 3px 30px #0000004D;
    height: fit-content;
    width: 17vw;
    border: 1px solid #666666a8;
    border-radius: 15px;
    z-index: 10;
    padding:100% 140% 100% 100%;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    margin-top: 100px;
    overflow: hidden;

  }
  .profile-input::placeholder{
    color:#FFFFFF;
    font-size: 16px;
  }
  .profile-input{
    @include media(">LGdesktop", ">desktop"){
      font-size: 12px;
    }
    @include media('<=LGdesktop','>desktop'){
      font-size: 12px;

    }
    @include media('<=desktop', '>=tablet'){
      font-size: 8px;
    }
    padding-left: 5%;

    position: relative;
    font: normal normal normal 16px Montserrat;
    letter-spacing: 0px;
    margin-top: 10%;
    color: #FFFFFF;
    opacity: 1;
    display: block;
    margin-right: auto;
    margin-left: auto;
    width: 90%;
    height: 4vh;
    background-color: #BBBBBB25;
    border: 1px solid #FFFFFF66;
    border-radius: 20px;
    backdrop-filter: blur(16px);
    -webkit-backdrop-filter: blur(16px);
    outline: none;
    opacity: 1;
  }
  .Avatar{
    @include media(">LGdesktop", ">desktop"){
      clip-path: circle(40px at center);
      height: 80px;
      width: 80px;
    }
    @include media('<=LGdesktop','>=desktop'){
      clip-path: circle(35px at center);
      height: 70px;
      width: 70px;
    }
    @include media('<=desktop', '>=tablet'){
      clip-path: circle(25px at center);
      height: 50px;
      width: 50px;
    }
    clip-path: circle(50px at center);
    display: inline-block;
    height: 100px;
    width: 100px;
    margin-left: 3%;


  }
  .AvatarImg{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .RegisterButton{

    @include media(">LGdesktop", ">desktop"){
      font-size: 12px;
    }
    @include media('<=LGdesktop','>=desktop'){
      font-size: 10px;

    }
    @include media('<=desktop', '>=tablet'){
      font-size: 6px;
    }
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    font: normal normal normal 14px Montserrat ;
    font-weight: 200;
    color:#F6F6F6;
    text-align: center;
    margin-top: 5%;
    text-decoration: #FFFFFF underline;
    margin-bottom: 5%;
  }
  .profile-container-back-button::before{
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
  }

  .profile-container-back-button{
    margin-top: 2%;
    width:90%;
    height: fit-content;
    padding-top: 5%;
    padding-bottom: 5%;
    background: transparent linear-gradient(122deg, rgba(165,220,215,0.60) 0%, rgba(15,66,120,0.60) 150%) 0% 0% no-repeat padding-box;
    box-shadow: inset 0px 0px 20px #FFFFFF29;
    border: 1px solid #FFFFFF80;
    border-radius: 50px;
    text-align: center;
    margin-top: 10%;
    display: block;
    vertical-align: middle;
    margin-left: auto;
    margin-right: auto;
}
  .Profile{
    @include media(">LGdesktop", ">desktop") {
      transform: scale(0.9);
    }
    @include media('<LGdesktop', '>=desktop') {
      transform: scale(0.6);

    }
    @include media('<=desktop', '>=tablet') {
      transform: scale(0.4);
      margin-left: 30px
    }
    margin-left: 1%;
    vertical-align: middle;
    display: inline-block;
    position: relative;
    opacity: 1;
    cursor: pointer;
    align-content: center;
  }

.dropdown-profile-cot{
  display: inline-block;
  flex-direction: column;
  height: 100%;
  width: 100%;
  z-index: 5;
}
.dropdown-profile-container{
  display: inline-block;
  height: 100%;
  width: 100%;
  z-index: 10;
}


  .dropdown-basket-dash-line{
    width: 100%;
    height: 3px;
    background-image: linear-gradient(to right, #ccc 0%, #ccc 50%, transparent 50%);
    background-size: 30px 3px;
    background-repeat: repeat-x;
    opacity: 1;
    margin-top: 4vh;



  }
  #Price{
  float: right;
  }
  #BasketDrop-Arrow-back{
    @include media(">LGdesktop", ">desktop") {
      transform: scale(0.5);
    }

    @include media('<=desktop', '>=tablet') {
    }

    position: relative;
    display: inline;
    transform: scale(0.4);
    vertical-align: middle;
    margin-left: 4%;


  }
  .dropdown-basket-dash-line-text-cont:before{
    content: '';
    display: inline-block;
    vertical-align: middle;
    height: 100%;
    justify-items: center;
  }
  .dropdown-basket-dash-line-text-cont{
    width: 100%;
    display: inline-block;
    vertical-align: middle;
    justify-items: center;
  }
  .dropdown-basket-dash-line-under-text{
    justify-items: center;
    display: inline-block;
    width: 20%;
    font: normal normal 600 20px Montserrat;
    letter-spacing: 0.35px;
    color: #FFFFFF;
    opacity: 1;
    vertical-align: middle;
    margin-top: 25px;
    margin-bottom: 15px;
    vertical-align: middle;
  }
  .dropdown-basket-cot{
    display: inline-block;
    flex-direction: column;
    height: 100%;
    width: 100%;
    z-index: 5;
  }
  .dropdown-basket-container{
    display: inline-block;
    height: 100%;
    width: 100%;
    z-index: 10;

  .dropdown-basket-container-item{
    margin-bottom: 9%;
    width: 100%;
  }


  .dropdown-basket-img{
    @include media(">LGdesktop", ">desktop"){

    }
    @include media('<=LGdesktop','>desktop'){
      clip-path: circle(2vw at center);
      height: 4vw;
      width: 4vw;

    }
    @include media('<=desktop', '>=tablet'){
      clip-path: circle(2.25vw at center);
      height: 4.5vw;
      width: 4.5vw;
    }
    clip-path: circle(1.5vw at center);
    height: 3vw;
    width: 3vw;
    background-size: cover;
    display:inline-block;
    position: relative;
    margin-right: 5%;
    margin-left: 0;
    margin-top: -0%;
    float: left;
  }
    .dropdown-basket-name{

      @include media(">LGdesktop", ">desktop"){
        font-size: 14px;
      }
      @include media('<=LGdesktop','>desktop'){
        font-size: 14px;
      }
      @include media('<=desktop', '>=tablet'){
        font-size: 12px;
        width: 45%;
      }
      width: 50%;
      margin-top: 3%;
      text-align: left;
      font: normal normal  14px Montserrat;
      font-weight: 600;
      letter-spacing: 0px;
      color: #FFFFFF;
      text-transform: uppercase;
      opacity: 1;
      display: inline-block;
    }
    .dropdown-basket-price{

      text-align: left;
      font: normal normal 16px Montserrat;
      letter-spacing: 0px;
      margin-top: 5px;
      color: #FFFFFF;
      opacity: 1;
    }
    .dropdown-basket-counter::before{
      height: 100%;
      content: '';
      display: inline-block;
      vertical-align: middle;
    }
    .dropdown-basket-line{
      width: 100%;
      height: 1px;
      background: #FFFFFF;
      margin-top: 12%;
      margin-right: 5%;

    }
    .dropdown-basket-counter{
      margin-right: 10%;
      display: inline-block;
      float: right;
      margin-top: -3.5vh;
      width: 20%;
      height: 2.8vh;
      background: #80808020 0% 0% no-repeat padding-box;
      box-shadow: inset 0px 0px 60px #FFFFFF4D;
      border: 0.5px solid #B4B4B466;
      border-radius: 20px;
      opacity: 1;
      .dropdown-basket-counter-symbol{
        display: inline-block;

        opacity: 1;
        vertical-align: middle;
        text-align: center;
        font: normal normal 18px Montserrat;
        font-weight: 600;
        margin-left: 17%;
        background: none;
        letter-spacing: 0px;
        color: #FFFFFF;
        opacity: 1;
      }

    }
    .dropdown-basket-cancel{
      margin-top: -6%;
      display: inline-block;
      transform: scale(1.5);
      float: right;
      margin-right: 3%;
    }
  }







  .Header::before{
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;


  }
  .FakeHeader{
    position: absolute;
    display: block;
    width: 100%;
    height: 220%;
    appearance: none;
    z-index: -5;
  }
  .FakeHeader2{
    position: absolute;
    display: block;
    width: 100%;
    height:100%;
    appearance: none;
    z-index: -5;
  }
  .Header{
    @include media('<=LGdesktop','>desktop'){
      height: 7vh;
    }

    position: fixed;
    height: 6vh;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    z-index: 5;
  .dropdown{

    transition: all 200ms ease-in-out;
    backdrop-filter: blur(37px);
    background: #333333a5 0% 0% no-repeat padding-box;
    display: inline-block;
    box-shadow: inset 0px 0px 35px #c8c8c810, 0px 3px 30px #0000004D;
    border: 1px solid #666666a8;
    border-radius: 15px;
    z-index: 10;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    padding-top: 40%;
    padding-left: 40%;
    padding-right: 40%;
    padding-bottom: 40%;
    margin-top: 62px;


    .menu-item{
      @include media(">LGdesktop", ">desktop"){
        font-size: 18px;
      }
      @include media('<=LGdesktop','>desktop'){
        font-size: 14px;

      }
      @include media('<=desktop', '>=tablet'){
        font-size: 10px;
      }
      height: 2vw;
      width: 14vw;
      margin-bottom: 5%;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 10px;
      transition: all 0.4s ease-in-out;
      text-align: center;
      font: normal normal bold 18px Montserrat;
      letter-spacing: 1.2px;
      color: #FFFFFF;
      opacity: 1;
      cursor: pointer;

    }
    .menu-item:hover {
      background-color: #FFFFFF28;
    }
  }

  .dropdown-search{
    overflow: hidden;
    backdrop-filter: blur(37px);
    background: #333333a5 0% 0% no-repeat padding-box;
    display: inline-block;
    box-shadow: inset 0px 0px 35px #c8c8c810, 0px 3px 30px #0000004D;
    border: 1px solid #666666a8;
    border-radius: 15px;
    z-index: 10;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    width: 25vw;
    margin-top: 30px;

    .menu-search-img{
      clip-path: circle(1.5vw at center);
      height: 3vw;
      width: 3vw;
      background: url(../img/230974944.jpeg);
      background-size: cover;
      float: left;
      display:block;
      margin-right: 5%;
      margin-left: 5%;
      margin-top: -2.5%;
      //margin-bottom: 5%;
    }
    .menu-search-name{
      @include media(">LGdesktop", ">desktop"){
        font-size: 12px;
      }
      @include media('<=LGdesktop','>desktop'){
        font-size: 9px;

      }
      @include media('<=desktop', '>=tablet'){
        font-size: 6px;
      }
      text-align: left;
      font: normal normal 600 12px Montserrat;
      width: 70%;
      letter-spacing: 1px;
      color: #FFFFFF;
      text-transform: uppercase;
      opacity: 1;
      margin-top: 7.5%;
      margin-left: 5%;
      display: block;
    }
    .menu-search-subname{
      @include media(">LGdesktop", ">desktop"){
        font-size: 10px;
      }
      @include media('<=LGdesktop','>desktop'){
        font-size: 8px;

      }
      @include media('<=desktop', '>=tablet'){
        font-size: 6px;
      }
      display: inline-block;
      text-align: left;
      width: 50%;
      font: normal normal normal 10px Montserrat;
      margin-top: 1%;
      letter-spacing: 0px;
      color: #FFFFFF;
      opacity: 1;
    }
    .menu-search-price{
      @include media(">LGdesktop", ">desktop"){
        font-size: 12px;
      }
      @include media('<=LGdesktop','>desktop'){
        font-size: 10px;

      }
      @include media('<=desktop', '>=tablet'){
        font-size: 8px;
      }
      float: right;
      display: inline-block;
      text-align: left;
      font: normal normal normal 12px/25px Montserrat;
      letter-spacing: 0px;
      color: #FFFFFF;
      opacity: 1;
      margin-right: 2.5%;
      margin-top: -2%;
    }
    .AddCard{
      @include media(">LGdesktop", ">desktop"){
        transform: scale(0.9);
      }
      @include media('<=LGdesktop','>desktop'){
        transform: scale(0.7);

      }
      @include media('<=desktop', '>=tablet'){
        transform: scale(0.5);
      }
      float: right;
      margin-top: -1%;
      transform: scale(0.9);
      margin-right: 10%;
      display: block;
    }
    .menu-search-line{
      height: 1px;
      width: 75%;
      margin-top: 7.5%;
      margin-bottom: 5%;
      background-color: #FFFFFF;
      display: block;
      position: relative;
      left: 50%;
      transform: translateX(-50%);
    }
  }
  .Header-Bg {

    position: absolute;
    display: block;
    top: 0;
    height: 100%;
    width: 100%;
    background: #333333a5 0% 0% no-repeat padding-box;
    box-shadow: inset 0px 0px 35px #c8c8c810, 0px 3px 30px #0000004D;
    opacity: 1;
    backdrop-filter: blur(37px);
    -webkit-backdrop-filter: blur(37px);
    z-index: -1;
    }
    .Logo {
      @include media(">LGdesktop", ">desktop"){
        transform: scale(0.9);
      }
      @include media('<=LGdesktop','>desktop'){
        transform: scale(0.7);

      }
      @include media('<=desktop', '>=tablet'){
        transform: scale(0.4);
      }

      position: relative;
      vertical-align: middle;
      display: inline-block;
      margin-left: 7%;
      opacity: 1;
      transform: scale(0.75);
      margin-right: 18%;
      pointer-events: all;
      z-index: 5;
    }
    #search-Nav{
      position: absolute;
      display: block;
      width: 100%;
      height: 100%;
    }

    .search-cont{
      position: absolute;
      display: block;
      width: 100%;
      height: 100%;
      appearance: none;
      #site-search::-ms-clear{
        display: none;
      }
      #site-search {
        @include media(">LGdesktop", ">desktop"){
          font-size: 12px;
        }
        @include media('<=LGdesktop','>desktop'){
          font-size: 10px;
          margin-top: -4.9vh;

        }
        @include media('<=desktop', '>=tablet'){
          font-size: 8px;
        }
        padding-left: 0.5%;
        font: normal normal normal 12px Montserrat;
        letter-spacing: 0px;
        color: #FFFFFF;
        opacity: 1;
        display: block;
        margin-right: auto;
        margin-left: auto;
        width: 25vw;
        height: 2.7vh;
        background-color: #5a5a5aa5;
        border: 1px solid #FFFFFF66;
        border-radius: 20px;
        backdrop-filter: blur(16px);
        -webkit-backdrop-filter: blur(16px);
        margin-top: -4.3vh;
        outline: none;
        opacity: 1;

      }

    }


    .Category {
      @include media(">LGdesktop", ">desktop"){
        font-size: 14px;
      }
      @include media('<=LGdesktop','>desktop'){
        font-size: 14px;


      }
      @include media('<=desktop', '>=tablet'){
        font-size: 8px;
        margin-left: 25%;
      }
      margin-left: 35%;

      vertical-align: middle;
      display: inline-block;
      position: relative;
      align-content: center;
      font: normal normal 600 14px Montserrat;
      letter-spacing: 0px;
      color: #FFFFFF;
      opacity: 1;
      cursor: pointer;


    }

    .DownArrow {
      @include media(">LGdesktop", ">desktop"){
        transform: scale(1);
      }
      @include media('<=LGdesktop','>desktop'){
        transform: scale(0.9);

      }
      @include media('<=desktop', '>=tablet'){
        transform: scale(0.8);
      }
      margin-left: 10px;
      vertical-align: middle;
      display: inline-block;
      position: relative;
      opacity: 1;
      transition: all 0.5s ease-in-out;
    }
    .UpArrow {
      @include media(">LGdesktop", ">desktop"){
        transform: scale(-1);
      }
      @include media('<=LGdesktop','>desktop'){
        transform: scale(-0.9);

      }
      @include media('<=desktop', '>=tablet'){
        transform: scale(-0.8);
      }
      margin-left: 10px;
      vertical-align: middle;
      display: inline-block;
      position: relative;
      opacity: 1;
      transform: scale(-1);
      transition: all 0.5s ease-in-out;
    }

    .Basket {
      @include media(">LGdesktop", ">desktop") {
        transform: scale(0.9);
      }
      @include media('<LGdesktop', '>=desktop') {
        transform: scale(0.6);

      }
      @include media('<=desktop', '>=tablet') {
        transform: scale(0.4);
        margin-left: 30px
      }
      margin-left: 5%;
      vertical-align: middle;
      display: inline-block;
      position: relative;
      opacity: 1;
      cursor: pointer;
      align-content: center;
    }
      .BasketVoidDrop::before{
        content: '';
        width: 100%;
        height: 100%;
        backdrop-filter: blur(37px);
        -webkit-backdrop-filter: blur(37px);
        position: absolute;
        z-index: -5;
      }
      .BasketVoidDrop{
        @include media(">LGdesktop", ">desktop"){
          margin-top: 7.8vh;

        }
        @include media('<=LGdesktop','>desktop'){
          margin-top: 15vh;
        }
        @include media('<=desktop', '>=tablet'){
          margin-top: 22vh;
        }


        background: #333333a5 0% 0% no-repeat padding-box;
        box-shadow: inset 0px 0px 35px #c8c8c810, 0px 3px 30px #0000004D;
        border: 1px solid #666666a8;
        border-radius: 15px;
        position: absolute;

        left: 50%;
        transform: translate(-50%, 0);
        padding-top: 50px;
        padding-left: 50px;
        padding-right: 50px;
        padding-bottom: 50px;
        margin-top: 15vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        align-content: center;
        justify-items: center;
        justify-content: center;
        flex: 50;
        overflow: hidden;
        height: 40vh;
        width: 38vh;


      }

      .Oooops-Text{
        @include media(">LGdesktop", ">desktop"){
          font-size: 35px;
        }
        @include media('<=LGdesktop','>desktop'){
          font-size: 35px;
        }
        @include media('<=desktop', '>=tablet'){
          font-size: 20px;
        }
        display: block;
        text-align: center;
        font: normal normal 800 24px/25px Montserrat;
        letter-spacing: 1.8px;
        color: #FFFFFF;
        opacity: 1;
        width:90%;
        margin-bottom: 10%;

      }

      .BasketVoidDrop-Void-Text{
        @include media(">LGdesktop", ">desktop"){
          font-size: 18px;
        }
        @include media('<=LGdesktop','>desktop'){
          font-size: 16px;
        }
        @include media('<=desktop', '>=tablet'){
          font-size: 16px;
        }
        display: block;
        text-align: center;
        font: normal normal 600 14px/20px Montserrat;
        letter-spacing: 1.05px;
        color: #FFFFFF;
        opacity: 1;
        width:110%;
        margin-bottom: 10%;

      }

      .BasketVoidDrop-sub-text{
        @include media(">LGdesktop", ">desktop"){
          font-size: 16px;
        }
        @include media('<=LGdesktop','>desktop'){
          font-size: 14px;
        }
        @include media('<=desktop', '>=tablet'){
          font-size: 16px;
        }
        display: block;

        text-align: center;
        font: normal normal 500 10px/15px Montserrat;
        letter-spacing: 0.75px;
        color: #FFFFFF;
        opacity: 1;
        line-height: 2;
        text-align: center;
        margin-right: auto;
        margin-left: auto;
        width:90%;
        margin-bottom: 10%;


      }
      .BasketVoidDrop-Container-back-button::before{
        content: '';
        display: inline-block;
        height: 100%;
        vertical-align: middle;
      }

      .BasketVoidDrop-Container-back-button{
        margin-top: 2%;
        width:100%;
        height: 20%;
        background: transparent linear-gradient(122deg, rgba(165,220,215,0.60) 0%, rgba(15,66,120,0.60) 150%) 0% 0% no-repeat padding-box;
        box-shadow: inset 0px 0px 20px #FFFFFF29;
        border: 1px solid #FFFFFF80;
        border-radius: 50px;
        text-align: center;
        display: inline-block;
        vertical-align: middle;



      }

      .BasketVoidDrop-back-text{
        @include media(">LGdesktop", ">desktop"){
          font-size: 20px;
        }
        @include media('<=LGdesktop','>desktop'){
          font-size: 16px;
        }
        @include media('<=desktop', '>=tablet'){
          font-size: 16px;
        }
        display: inline-block;
        position: relative;
        vertical-align: middle;
        font: normal normal normal 12px Montserrat;
        letter-spacing: 1.2px;
        color: #FFFFFF;
        opacity: 1;
      }

      #BasketVoidDrop-Arrow-back{
        @include media(">LGdesktop", ">desktop") {
          transform: scale(-0.5);
        }

        @include media('<=desktop', '>=tablet') {
        }

        position: relative;
        display: inline;
        transform: scale(-0.4);
        vertical-align: middle;
        margin-right: 4%;


      }


    #Profile {
      @include media(">LGdesktop", ">desktop"){
        transform: scale(0.9);
      }
      @include media('<=LGdesktop','>desktop'){
        transform: scale(0.6);
        margin-left: 5px
      }
      @include media('<=desktop', '>=tablet'){
        transform: scale(0.4);
        margin-left: -10px
      }
      margin-left: 1%;
      vertical-align: middle;
      display: inline-block;
      position: relative;
      opacity: 1;
      transform: scale(0.9);
      cursor: pointer;
    }

    #site-search{
      font: normal normal normal 12px/25px Montserrat;
      letter-spacing: 0px;
      color: #FFFFFF;
      opacity: 1;
    }


  }
}