@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
  padding: 0 0 0 0;
  margin: 0 0 0 0;
  .Banner{
    top: 0px;
    left: 0px;
    background: url(./img/1081835.png) no-repeat;
    background-size: cover;
    width: 100vw;
    height: 80vh;
    position: relative;
    display: grid;
    align-items: center;

    .Banner-Glass{

      width: 50vw;
      height: 100%;
      opacity: 1;
      backdrop-filter: blur(15px) brightness(80%);
      -webkit-backdrop-filter: blur(15px) brightness(80%);
      z-index: 1;
    }
    .Banner-Container{

      display: block;
      left:7vw;
      position: absolute;
      z-index: 2;
    }

    .Banner-Name {

      text-align: left;
      font-family: Montserrat;
      font-weight: 700;
      font-size: calc(36px + (16+16*0.7)*((100vw+320px)/1280));
      letter-spacing: 1.32px;
      color: #FFFFFF;
      text-transform: uppercase;
      padding-bottom: 15px;
    }
    .Banner-Sub-Name{
      text-align: left;
      font: normal normal bold 26px/32px Montserrat;
      font-size: calc(4px + (16+16*0.7)*((100vw+320px)/1280));
      letter-spacing: 0.52px;
      color: #FFFFFF;
      text-transform: uppercase;
    }
    .Banner-text {
      text-align: left;
      font: 16px/25px Montserrat;
      font-size: calc(-6px + (16+16*0.7)*((100vw+320px)/1280));
      font-weight: 500;
      letter-spacing: 0.32px;
      color: #FFFFFF;
      opacity: 1;
      width: 25vw;
      padding-top: 6vh;
    }


    .Banner-Button{
      background: transparent linear-gradient(122deg, rgba(165,220,215,0.60) 0%, rgba(15,66,120,0.60) 150%) 0% 0% no-repeat padding-box;
      box-shadow: inset 0px 0px 20px #FFFFFF29;
      border: 1px solid #FFFFFF80;
      border-radius: 27px;
      margin-top: 7vh;
      width: 35vh;
      height: 10vh;
      text-align: center;
      font: normal normal 600 25px Montserrat;
      font-size: calc(-2px + (16+16*0.7)*((100vw+320px)/1280));
      letter-spacing: 0.25vw;
      color: #FFFFFF;
      opacity: 1;
      backdrop-filter: blur(18px);
      -webkit-backdrop-filter: blur(18px);
      text-transform: uppercase;
      transition: all 0.5s ease-in-out;
    }
    .Banner-Button:hover{
      backdrop-filter: blur(30px) brightness(1.8);
      -webkit-backdrop-filter: blur(30px) brightness(1.8);
      transform: scale(1.05);
    }

    .Banner-Blob{

      position: absolute;
      top: -2vw;
      left: 1vw;
      mix-blend-mode: screen;
      mask-image: url("./img/Path1.svg");
      backdrop-filter: blur(8px) brightness(1.1);
      overflow: hidden;
      -webkit-backdrop-filter: blur(8px);
      z-index: 3;
      opacity: 1;
      pointer-events: none;
      transform: scale(0.65);
    }

    .Banner-Blob2{

      position: absolute;
      top: 53vh;
      left: 21vw;
      mix-blend-mode: screen;
      mask-image: url("./img/Path2.svg");
      backdrop-filter: blur(8px) brightness(1.1);
      overflow: hidden;
      -webkit-backdrop-filter: blur(8px);
      z-index: 3;
      opacity: 1;
      pointer-events: none;
     transform: scale(0.7);
    }


  }
  .Container{
    display: block;
    left: 0;
    top: 80vh;
    width: 100vw;
    height: 200vh;
    background: transparent linear-gradient(161deg, #8DC8C8 100%, #CBDFE9 100%) 0% 0% no-repeat padding-box;
    opacity: 1;
    align-content: center;
    padding-top: 13vh;

    
    .Container-Headlines{
      display: block;
      text-align: center;
      position: relative;

    }
    .Container-Headlines-Name{
      display: block;
      position: relative;
      font: normal 700 30px/25px Montserrat;
      font-size: calc(5px + (16+16*0.7)*((100vw+320px)/1280));
      letter-spacing: 4.5px;
      color: #000000;
      text-transform: uppercase;
      opacity: 1;
      z-index: 2;
    }
    .Container-UnderText{
      display: block;
      position: relative;
      border: 1.2px solid #000000;
      background-color: black;
      opacity: 1;
      width: 7%;
      margin-left: auto;
      margin-right: auto;
      margin-top: 14px;
      z-index: 2;

    }

    #UnderTextPopular{
      width: 11%;

    }
    .Container-Blob3{
      position: relative;
      top: -100px;
      mix-blend-mode: screen;
      mask-image: url("./img/Path3.svg");
      backdrop-filter: blur(8px);
      -webkit-backdrop-filter: blur(8px);
      z-index: 1;
      opacity: 1;
      pointer-events: none;

    }

    .Container-Blob4{
      position: relative;
      top: -125px;
      mix-blend-mode: normal;
      filter: brightness(0.99);
      mask-image: url("./img/Path4.svg");
      backdrop-filter: blur(8px);
      -webkit-backdrop-filter: blur(8px);
      z-index: 1;
      opacity: 0.7;
      pointer-events: none;


    }

    .Container-Container{
      display: grid;
      align-items: center;
      width: 77vw;
      position: relative;

      top: -145px;
      margin-left: auto;
      margin-right: auto;
      background: #00000027 0% 0% no-repeat padding-box;
      opacity: 1;
      box-shadow: inset 0px 0px 100px #00000010;
      border-radius: 30px;
      backdrop-filter: blur(30px);
      -webkit-backdrop-filter: blur(30px);



      .left-arrow-container{
        z-index: 3;
        position: absolute;
        display: block;
        transform: scale(-1);
        left: 70px;
      }
      .right-arrow-container{
        z-index: 3;
        position: absolute;
        display: block;
        right: 70px;

      }
      .Container-for-list{

        margin-left: auto;
        margin-right: auto;
        margin-top: 2.5%;
        width: 100%;
        align-content: center;
        .list-container {
          position: relative;
          display: inline-block;
          background: #a8dadc 0% 0% no-repeat padding-box;
          box-shadow: inset 0px 3px 20px #FFFFFF4D, 0px 3px 30px #00000010;
          border: 1px solid #FFFFFF;
          border-radius: 30px;
          opacity: 1;
          backdrop-filter: blur(18px);
          -webkit-backdrop-filter: blur(18px);
          height: 27vh;
          width: 12vw;
          margin-left: 3%;
          margin-right: 3%;
          margin-bottom: 5%;
          margin-top: 5%;
          .list-container-img-shadow{
            filter: drop-shadow(0px 3px 15px #4040404D);
          }

          .list-container-img {
            margin-top: -8vh;
            display: block;

            opacity: 1;
            clip-path: circle(3.5vw at center);
            height: 7vw;
            width: 7vw;
            margin-left: auto;
            margin-right: auto;
          }

          #img1{
            background: url("./img/comprar-tormenta-solar-EGD-games.jpeg");
            background-size: cover;
            background-repeat: no-repeat;
          }
          .list-container-name {
            margin-top: 15%;
            margin-bottom: 2%;
            width: 90%;
            text-align: center;
            margin-right: auto;
            margin-left: auto;
            font: normal normal 600 16px/25px Montserrat;
            font-size: calc(-5px + (16+16*0.7)*((100vw+320px)/1280));

            letter-spacing: 0.9px;
            color: #000000;
            opacity: 1;

          }

          .list-container-sub-name {
            width: 80%;
            text-align: center;
            margin-right: auto;
            margin-left: auto;
            font: normal normal 500 14px/20px Montserrat;
            font-size: calc(-8px + (16+16*0.7)*((100vw+320px)/1280));
            letter-spacing: 0.75px;
            color: #000000;
            opacity: 1;
          }

          .list-container-price {
            text-align: center;
            margin-left: auto;
            margin-right: auto;
            margin-top: 5%;
            margin-bottom: 5%;
            font: normal normal bold 16px/25px Montserrat;
            font-size: calc(-6px + (16+16*0.7)*((100vw+320px)/1280));
            letter-spacing: 0.9px;
            color: #000000;
            opacity: 1;

          }
        }
      }


    }
    #News{
      height: 50vh;
    }
    #Popular{
      top: -243px;
      height: 95vh;
    }
  }

}